@import "@nib"
@import "normalize.styl"
@import "fonts.styl"

vendor-prefixes = webkit o ms moz official

/* Color Palette */

dark_gray = #333333
light_gray = #818181
vivid_red = #BD255B
lighter_gray = #F0F0F0

/* General Styles */
a
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
ul
	margin 0
	padding 0

h1
	color vivid_red