// Stylus understand the code in many diferent ways, with bracer or without them
// Stylus -c style.css will generate a compressed file (Adding -w to the commando will watch all the changes in Real Time)
blue = #22BCE0
grey = #444

body
	background #E8E8E8
	color grey
	font-family 'Ubuntu' sans-serif
	font-size 16px
// General Styles
h1
	font-size 2em
a:visited
	color #444

// Navigation Bar
nav
	ul
		li
			list-style none
			a
				text-decoration none
				color grey
			a:hover
				text-decoration underline
			
