azul = #22BCE0
background = #E8E8E8
gris_oscuro = #444

body
	background background
	color gris_oscuro
	font-family Arial
	font-size 16px
h1
	font-size 2em
a
	color gris_oscuro
a:visited
	color gris_oscuro
header
	background gris_oscuro
	color white
	padding 0.5em

	.logo
		border-right 1px solid azul
		width 60px

		img
			width 52px
	
	.titular
		margin 0 80px 0 70px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding	0

.left
	float left

.right
	float right

.user_avatar
	width: 135px;
	height: 135px;

