<header class="small medium large">
  <div class="relative banner-home">
    <div class="logo-nav">
      <figure class="image relative isotipo">
        <img src="images/logo_home.png" alt="" />
      </figure>
      <a href="login.html" class="login-btn large">Log In</a>
    </div>
    <h2 class="slogan">All the music you like, everywhere</h2>
    <div id="social-content">
      <a href="#" class="fb-login"><i class="social-icon icon-facebook"></i><span class="login-text">Connect With Facebook</span></a>
      <a href="#" class="tw-login"><i class="social-icon icon-twitter"></i><span class="login-text">Connect With Twitter</span></a>
      <span class="create-account large">Or <a href="#" class="create-account-btn">Create Account</a></span>
    </div>
  </div>
</header>

<section class="home-content small medium large">
  <nav class="menu-login small medium">
    <ul>
      <li><span>Log In</span>
      </li>
      <li><span>Create Account</span>
      </li>
    </ul>
  </nav>
  <article class="home-info">
      <figure class="home-info-image">
        <img class="small" src="images/home/escucha-img-small.jpg" alt="Escucha">
        <img class=" medium" src="images/home/escucha-img.jpg" alt="Escucha">
        <img class=" large" src="images/home/escucha-img-large.png" alt="Escucha">
      </figure>
      <div class="home-info-content medium large">
        <h3 class="home-info-title">Escucha</h3>
        <span class="home-info-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </span>
      </div>
    </article>
  <article class="home-info">
    <div class="home-info-content large">
      <h3 class="home-info-title">Share</h3>
      <span class="home-info-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </span>
    </div>
    <figure class="home-info-image">
      <img class="small" src="images/home/comparte-img-small.jpg" alt="Comparte">
      <img class=" medium" src="images/home/comparte-img.jpg" alt="Comparte">
      <img class=" large" src="images/home/comparte-img-large.png" alt="Comparte">
    </figure>
    <div class="home-info-content small medium">
      <h3 class="home-info-title">Share</h3>
      <span class="home-info-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </span>
    </div>
  </article>
  <article class="home-info">
    <figure class="home-info-image">
      <img class="small" src="images/home/makeplaylist-img-small.jpg" alt="Crea y sigue playlists">
      <img class=" medium" src="images/home/makeplaylist-img.jpg" alt="Crea y sigue playlists">
      <img class=" large" src="images/home/makeplaylist-img-large.png" alt="Crea y sigue playlists">
    </figure>
    <div class="home-info-content medium large">
      <h3 class="home-info-title">Create and follow playlists</h3>
      <span class="home-info-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </span>
    </div>
  </article>
  <a href="#" class="start-to-listening small">Start Listenign, Now!</a>
</section>
