<p>This is the playlist view.</p>
<section class="playing small medium large">
  <div class="music">
      <figure class="image relative">
          <img src="img/songs/test-playing.jpg" width="320" height="320" alt="Come Get It Bae Pharrell Williams">
          <div class="actions padding right-text">
              <a href="" class="action icon-add"></a>
              <a href="" class="action icon-love"></a>
              <a href="" class="action icon-share"></a>
          </div>
      </figure>
      <div class="padding">
          <div class="progress">
              <span class="min">0:45</span>
              <div class="total">
                  <div class="state">
                      <div class="circle">

                      </div>
                  </div>
              </div>
              <span class="max">4:10</span>
          </div>
          <div class="description center-text border-bottom">
              <p class="name">
                  Come Get It Bae
              </p>
              <p class="author">
                  Pharrell Williams
              </p>
          </div>
          <div class="play center-text padding-tb">
              <a href="" class="action gray icon-prev" id="prev"></a>
              <a href="" class="action gray icon-play" id="play"></a>
              <a href="" class="action gray icon-next" id="next"></a>
              <a href="" class="action gray icon-random"></a>
              <a href="" class="action gray icon-vol"></a>
          </div>
      </div>
  </div>
</section>
